extends master

block content
  a.btn.btn-primary(href='/admin/article') Create Article
  if articles
    each article in articles
      article
        h1 
          a(href='/blog/article/#{article.id}') #{article.title}
        p by #{article.author_id}
        p #{article.content}
        a.btn(href='/admin/article/#{article.id}') Edit
        a.btn.btn-danger(href='#') Remove
  else
    h1 There are no articles :(.
